# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Dragos Stahie\Desktop\Dragos\SchoolWork\Anul II\Semestrul II\Tehnici Fundamentale de Programare\Laborator\PT2021_30226_Dragos_Marian_Stahie_Assignment_2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
